/.vs
/JobBase/bin
/JobBase/obj
/JobWeb/obj
/JobWeb/bin
/Nuget/obj
/DLL/fa
/DLL/fr
/DLL/nb
/DLL/nl
/DLL/pt
/DLL/pt-BR
/DLL/pt-PT
/DLL/zh
/DLL/zh-TW
/DLL/ca
/DLL/de
/DLL/es
/DLL/*.config
/DLL/*.xml
/DLL/*.pdb
/DLL/Nuget.dll
/JTest/bin
/JTest/obj
/JUrl/obj
/JUrl/bin
/Test/bin
/Test/obj
