<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="REDIS_WRITE" value="10.103.1.150:5000,defaultDatabase=9,allowAdmin=true,abortConnect=false,connectTimeout=60000" />
		<add key="REDIS_READ" value="10.103.1.150:5001,defaultDatabase=9,allowAdmin=true,abortConnect=false,connectTimeout=60000" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>